table.board {
  border-collapse: collapse; }
  table.board td {
    height: 50px;
    width: 50px;
    border: solid 1px black; }
  table.board .cell {
    height: 50px;
    width: 50px; }
    table.board .cell.original {
      background-color: darkgoldenrod; }
    table.board .cell.piece-hover {
      background-color: lightGrey; }
    table.board .cell.valid-drag, table.board .cell.valid-mouseover {
      background-color: darkGrey; }
  table.board .piece {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; }
