div#rules {
  width: 512px;
  overflow: auto; }
  div#rules .current {
    float: left;
    width: 256px; }
    div#rules .current span {
      padding: 0 5px; }
    div#rules .current .non-standard {
      color: white;
      background-color: darkGreen; }
      div#rules .current .non-standard.odd {
        background-color: green; }
  div#rules .changes {
    width: 256px;
    margin-left: 256px; }
    div#rules .changes .list ul {
      list-style-type: none;
      padding: 0; }
  div#rules .rule.added {
    color: darkgreen; }
  div#rules .rule.removed {
    color: darkred; }

div#ruleSet {
  width: 512px; }
  div#ruleSet table#conditions {
    width: 100%;
    border-spacing: 0; }
    div#ruleSet table#conditions th, div#ruleSet table#conditions td {
      width: 50%;
      border-bottom: solid 1px grey;
      text-align: left;
      vertical-align: top; }
