div#promotionDialog.dialog
  p What would you like to promote this pawn to?

  p
    input(type='radio', name='type', value='bishop')
    label(for='bishop') Bishop
  p
    input(type='radio', name='type', value='knight')
    label(for='knight') Knight
  p
    input(type='radio', name='type', value='queen', checked='checked')
    label(for='queen') Queen
  p
    input(type='radio', name='type', value='rook')
    label(for='rook') Rook
