h1 Metachess

h2 Games

div
  form(method='post', action='/games')
    input(type='submit', value='Start new game')

div
  ul
    each game in games
      li
        a(href='/games/' + game.number) Game ##{game.number}
