h2= game.id

!=partial('games/_board')
!=partial('games/_promotionDialog');

script
  //TODO: Waiting for socket.io client library to load - enforce load order instead?
  $(document).ready(function() {
    window.game = new Game({
      id: '#{game.id}'
    });
  });
