h2 Game ##{game.number}
  span#checkmate-alert.alert.checkmate(style = 'display: none') &nbsp;- Checkmate

!=partial('games/_board')
!=partial('games/_promotionDialog');

// !=partial('games/_playerList');

script
  //TODO: Waiting for socket.io client library to load - enforce load order instead?
  $(document).ready(function() {
    window.game = new Game({
      id: '#{game.id}'
    });
  });
