@import 'mixins';

.ui-draggable-dragging {
  z-index: 1;
}

table.board {
  border-collapse: collapse;

  td {
    @include cell-size;

    border: solid 1px black;
  }

  .cell {
    @include cell-size;

    position: relative;

    &.light {
      background-color: khaki;
    }

    &.dark {
      background-color: darkKhaki;
    }

    &.check {
      background-color: #DE2D2D;
    }

    &.original {
      background-color: darkgoldenrod;
    }

    &.previous-move {
      background-color: lightBlue;
    }

    &.piece-hover {
      background-color: lightGrey;
    }

    &.valid-drag, &.valid-move {
      background-color: darkGrey;
    };

    .annotation {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }

  .piece {
    @include cell-size;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    //FIXME: Need a sprite
    &.black {
      &.pawn   { background-image: url('/images/pieces/black-pawn.png'); }
      &.rook   { background-image: url('/images/pieces/black-rook.png'); }
      &.knight { background-image: url('/images/pieces/black-knight.png'); }
      &.bishop { background-image: url('/images/pieces/black-bishop.png'); }
      &.queen  { background-image: url('/images/pieces/black-queen.png'); }
      &.king   { background-image: url('/images/pieces/black-king.png'); }
    }
    &.white {
      &.pawn   { background-image: url('/images/pieces/white-pawn.png'); }
      &.rook   { background-image: url('/images/pieces/white-rook.png'); }
      &.knight { background-image: url('/images/pieces/white-knight.png'); }
      &.bishop { background-image: url('/images/pieces/white-bishop.png'); }
      &.queen  { background-image: url('/images/pieces/white-queen.png'); }
      &.king   { background-image: url('/images/pieces/white-king.png'); }
    }
  }

}
