@mixin cell-size {
  height: 50px;
  width: 50px;
}

table.board {
  border-collapse: collapse;

  td {
    @include cell-size;

    border: solid 1px black;
  }

  .cell {
    @include cell-size;

    &.original {
      background-color: darkgoldenrod;
    }

    &.piece-hover {
      background-color: lightGrey;
    }

    &.valid-drag, &.valid-mouseover {
      background-color: darkGrey;
    };
  }

  .piece {
    @include cell-size;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;
  }
}
