.dialog {
  display: none;
}

dl {
  dt {
    font-weight: bold;
    float: left;
  }
  dd {
    margin-left: 100px;
  }
}

#status {
  .checkmate {
    color: darkRed;
  }
  .stalemate {
    color: darkRed;
  }
}
